/*
    This imports default colors, you can use them with the syntax `var(--variable-name)`.
    Example:
        border: 3px solid var(--border-color);
*/
@import '/static/public/styles/1.0.0/variables.css';

.icon-thumbs-up-alt {
color: green;
cursor: pointer;
}

.icon-thumbs-down-alt {
color: tomato;
cursor: pointer;
}

.fixed_width{
    width:80px;
    height:40px;
}

#button-save{
    position: relative;
    right: 10px;
    top: 5px;
}

body{
  font-family: Helvetica;
}

#graph-container{
  position: relative;
  display: inline-block;
  width: 90%;
  left: 5%;
  height:175px;
}

#sparkline-title{
  display: block;
  position: relative;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  border-bottom: thin solid black;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 20px;
}

.label-wrapper{
  position: absolute;
  width: 10%;
  display: inline-block;
  text-align: right;
  top:35px;

}

#count-label, #rating-label{
  margin-top: 40px;
}

.title{
  margin-bottom: 10px;
}

#a-info-wrapper{
  margin-left: 10%;
}

.col-wrapper{
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}
.sparkcircle {
  fill: red;
  stroke: none;
}

.sparkline-wrapper{
  position: relative;
  display: inline-block;
  height: 40px;
  cursor:pointer;
  width:70%;
  color: black;
  margin-bottom: 15px;
}

#insight-row-avgRating{
  top:-12px;
}

.text-value{
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.text-flip-number{
  position: absolute;
  color:steelblue;
  font-size: 18px;
  text-align: center;
  left: 105%;
  top:-2px;
}

.flip-descriptor-tag{
  position: absolute;
  font-size: 16px;
  text-align: center;
  left:10%;
  top:8px;
}